.load-player {
  margin-top: 15px;
  background: #11171A;
  color: #AEAEAE;
}
/* line 7, ../sass/_module-video.scss */
.load-player .video-player {
  position: relative;
  padding-bottom: 56%;
  position: relative;
}
/* line 12, ../sass/_module-video.scss */
.load-player .video-player .BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
}
/* line 22, ../sass/_module-video.scss */
.load-player .video-playlist {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}
/* line 32, ../sass/_module-video.scss */
.load-player .video-playlist .video-label {
  padding: 0 10px 5px;
  margin: 0;
}
/* line 37, ../sass/_module-video.scss */
.load-player .video-playlist .data-drop {
  display: block;
}
/* line 40, ../sass/_module-video.scss */
.load-player .video-playlist .data-drop .list-group-item {
  padding: 10px;
  list-style: none;
}
/* line 44, ../sass/_module-video.scss */
.load-player .video-playlist .data-drop .list-group-item h4, .load-player .video-playlist .data-drop .list-group-item .channel-title {
  color: #fff;
}
/* line 50, ../sass/_module-video.scss */
.load-player .video-playlist .list-group-item {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 59, ../sass/_module-video.scss */
.load-player .video-playlist .list-group-item img {
  border: 1px solid #C5C6C5;
}
/* line 63, ../sass/_module-video.scss */
.load-player .video-playlist .list-group-item h4, .load-player .video-playlist .list-group-item .channel-title {
  color: #d5d5d5;
  -moz-text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  -webkit-text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  font-size: 14px;
}
/* line 71, ../sass/_module-video.scss */
.load-player .video-playlist .list-group-item p {
  font-size: 14px;
  line-height: 16px;
}
/* line 76, ../sass/_module-video.scss */
.load-player .video-playlist .list-group-item:hover, .load-player .video-playlist .list-group-item.active {
  background: #000;
  color: #fff;
}

/* line 84, ../sass/_module-video.scss */
article.single-item ul.playlist-ul {
  margin-left: 0;
}
/* line 87, ../sass/_module-video.scss */
article.single-item ul.playlist-ul ul {
  margin-bottom: 17px;
}

@media (max-width: 767px) {
  /* line 93, ../sass/_module-video.scss */
  .load-player {
    padding: 0;
  }

  /* line 96, ../sass/_module-video.scss */
  .load-player .video-player {
    margin: 0;
  }
}